doctype html
//
  A Design by W3layouts
  Author: W3layout
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
head
  title Sign Up Account
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='keywords' content='Official Signup Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
  script(type='application/x-javascript').
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
  // fonts
  link(href='//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet')
  link(href='//fonts.googleapis.com/css?family=Monoton' rel='stylesheet')
  // /fonts
  // css
  link(href='../../../../css/font-awesome.min.css' rel='stylesheet' type='text/css' media='all')
  link(href='../../../../css/signup.css' rel='stylesheet' type='text/css' media='all')
  // /css
#alertne
  .box-alert
    p#success B&#x1EA1;n &dstrok;&atilde; &dstrok;&abreve;ng k&iacute; th&agrave;nh c&ocirc;ng
    br
    p#close OK
  .clear
h1.w3ls Sign Up Account
.content-w3ls
  .content-agile1
    h2.agileits1 Official
    p.agileits2
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  .content-agile2
    form(action='#' method='post')
      .form-control.w3layouts
        input#username(type='text' name='username' placeholder='First Name' title='Please enter your First Name')
      .form-control.w3layouts
        input#email(type='email' name='email' placeholder='mail@example.com' title='Please enter a valid email')
      .form-control.agileinfo
        input#password1.lock(type='password' name='password' placeholder='Password')
      .form-control.agileinfo
        input#password2.lock(type='password' name='confirm-password' placeholder='Confirm Password')
      input#submitform.register(type='submit' value='Register')
    script(type='text/javascript').
      window.onload = function () {
      document.getElementById("password1").onchange = validatePassword;
      document.getElementById("password2").onchange = validatePassword;
      };
      function validatePassword() {
      var pass2 = document.getElementById("password2").value;
      var pass1 = document.getElementById("password1").value;
      if (pass1 != pass2)
      document
      .getElementById("password2")
      .setCustomValidity("Passwords Don't Match");
      else document.getElementById("password2").setCustomValidity("");
      //empty string means no validation error
      }
    script(src='../../../../js/Login/signup.intro.js')
    script.
      document.getElementById("close").onclick = function () {
      document.getElementById("alertne").style.animation =
      "close 0.4s linear forwards";
      };
    p#alast.wthree.w3l
      | Have a Account ?
      a(style='color: white' href='/login')
        | Click Here
    ul.social-agileinfo.wthree2
      li
        a(href='#')
          i.fa.fa-facebook
      li
        a(href='#')
          i.fa.fa-youtube
      li
        a(href='#')
          i.fa.fa-twitter
      li
        a(href='#')
          i.fa.fa-google-plus
  .clear
